*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to left, blue , red );
}
header{
    width: 100%; 
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 0 auto;
    font-style: italic ;
    color: whitesmoke;
    margin: 1.5rem 0;
}

.input-div , .output-div{
    /* border: 3px solid blue; */
    width: 100%;
    margin: 1rem 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input , .output{
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: whitesmoke;
}

.input input{
    margin: .3rem 0;
    height: 20px;
    width: 90%;
    border-radius: 2px;
    border: 0.1px solid black;
    font-size: 1rem;
    padding: 2px 9px ;
}
.input button{
    width: 30%;
    height: 25px;
    border-radius: 15px;
    
    border-color: whitesmoke;
    background-image: linear-gradient(to left, blue , red );
    color: white;
}
.output{
    font-size: 1.3rem;
}




